body
{
	margin: 0;
}

span
{
	display: block;
}

.wrapper
{
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 10fr;
	height: 100vw;
}

.wrapper > div
{
	background-color: aqua;
	border: 1px solid;
	display: grid;
}

.sidebar
{
	grid-row: 1/-1;
	grid-template-rows: minmax(50px, 100px) 6fr;
	gap: 25px;
}

.logo
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.side-links
{
	display: flex;
	position: sticky;
	top: 0px;
	flex-direction: column;
	gap: 25px;
}