body
{
	margin: 0;
}

span
{
	display: block;
}

.wrapper
{
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 10fr;
	min-height: 100vh;
}

.wrapper > div
{
	background-color: aqua;
	border: 1px solid;
	display: grid;
}

.sidebar
{
	grid-row: 1/-1;
	grid-template-rows: minmax(50px, 150px) 200px;
	gap: 25px;
}

.logo
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.side-links
{
	display: grid;
	position: sticky;
	top: 20px;
	justify-content: center;
	gap: 25px;
}